.venv/
.venv*/
.venv312/
__pycache__/
*.pyc
data/
checkpoints/
experiments/
logs/
*.log
.ipynb_checkpoints/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.ps
*.dvi
*.bat
*.ps1
